form{
    display: inline-block;
    float: top;
    clear: both;
    text-align: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    position: static;
}
form.bookingCustomer{
    height: 13%;

}

h1{
    margin-block-start: 3em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    float: top;
}
h3{
    float: top;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
h4{ float: top;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
img{
    float: top;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.button{

}
div{
    float: top;
    text-align: center;
}
a{
    float: top;
    font-family: "Poppins", sans-serif;
    color: whitesmoke;
    background-color: crimson;
    border: 2px solid darkred;
    text-align: initial;
    text-decoration: none;
    padding-right: 2%;
    padding-left: 2%;
    height: 120%;
    width: 120%;

}
a:focus{
    float: top;
    background-color: darkred;
    border: 2px solid crimson;
}
.profile{
    float: top;
    font-family: "Poppins", sans-serif;
    color: whitesmoke;
    background-color: crimson;
    border: 2px solid darkred;
    text-align: initial;
    text-decoration: none;
    padding-right: 2%;
    padding-left: 2%;
    display: inline-block;
}
p{
    float: top;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-left: 35%;
    padding-right: 35%;
}
ul{
    float: top;
    display: inline-block;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    list-style-type:disc;
}
.cancelPage{
    float: top;
    display: inline-block;
    height: 3%;
}
.seeBookings{
    float: top;
    display: inline-block;
    height: 3%;
}
.date{
    float: top;
    font-family: "Poppins", 'Roboto', sans-serif;
    color: darkred;
}
input.login{
    position: relative;
    margin-top: 1%;
}
p.loginPara{
    position: relative;
    margin-top: 3% ;

}
